<div class="col-xs-3" id="extra_info" ng-class="{'maximized' : showExtraInfo}">
    <div class="extra_info_header">
        <p class="text-center">
            <span>Settings</span>
            <span ng-show="showExtraInfo" ng-click="toggleExtraInfo(false)" class="pull-right glyphicon glyphicon-minus"></span>
            <span ng-show="!showExtraInfo" ng-click="toggleExtraInfo(true)" class="pull-right glyphicon glyphicon-plus"></span>

        </p>
    </div>
    <div>
        <ul>
            <li ng-click="expandAllSchools()">Expand All Schools</li>
            <li ng-click="">
                Pin Schools
            </li>
        </ul>
    </div>


    <!-- Count current expanded location and position titles
    <!--<div id="position_department_count" ng-show="showExtraInfo">
        <p class="extra_info_header noselect">Positions</p>
        <ul class=" position_count noselect">
            <li class="positions_item" ng-repeat="p in positionCount">
                ({{p.count}}){{p.position}}
            </li>
        </ul>

        <p class="extra_info_header noselect">Departments</p>
        <ul class=" department_count noselect">
            <li class="departments_item" ng-repeat="d in departmentCount">
                ({{d.count}}){{d.department}}
            </li>
        </ul>
    </div> -->
</div>