<div ng-if="false" class="col-xs-4 col-sm-2" id="extra_info">
    <!-- TODO: Re-enable this when committee version is being released -->
    <div id="settings"
         ng-class="{'maximized' : showExtraInfo}"
         class="col-xs-12">
        <div class="col-xs-12" id="settings_header">
            <p class="text-center col-xs-12">
                <span class="col-xs-12">View: {{graphType}}</span>
            </p>
        </div>
        <div ng-if="graphType == 'committee'"
             class="committee_sidebar col-xs-12">
            <nav style="margin-bottom:0" class="navbar" role="navigation">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-cloak ng-show="committees"
                        class="text-center committee noselect"
                        ng-class="{'committee_active':obj.committee_name == activeGroupName}"
                        ng-repeat="(key,obj) in committees"
                        ng-click="committeeClicked(obj)">{{obj.committee_name}}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>