<nav id="top_nav" class="navbar navbar-fixed-top">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <p class="lead">CV BETA</p>
        </div>
        <a href="#"
           ng-click="changeGraphView()"
           class="text-center graph_type col-xs-3 col-md-2">Switch Views</a>

        <a href="#" class="text-center col-xs-2 col-md-2"
           ng-click="pinSchools()"
           id="pin_schools"> Pin Schools </a>

        <a href="#" class="text-center col-xs-2 col-md-2"
           ng-click="toggleSchools(expandAllSchools = !expandAllSchools)"
           id="expand_schools" name="expand_schools"> Expand Schools </a>

        <span class="col-xs-1 pull-right">
            <a href="https://github.com/joerodrig3/College_Visualization"><img data-toggle="popover"
                 class="social_icon"
                 id="github_icon"
                 src="img/github.png"></a>
        </span>
    </div>
</nav>